body {
    max-width: 960px;
    background-color: rgba(0, 0, 0, 0.753);
}

/* Content Area */
/* =================================== */

#contentArea {
    background-color: ghostwhite;
    width: 565px;
    height: fit-content;
    margin-left: 10%;    
}

/* Button Area */
/* =================================== */

#buttonArea {
    margin-left: 5%;
    background-color: darkslategray;
    width: 500px;
}

#buttonArea button {
    background-color: ghostwhite;
    border-color: darkslategray;
    color: darkslategray;
    margin: 0.5%;
    font-weight: 800;
}

/* GIF Area */
/* =================================== */

#gifArea {
    background-color: darkslategray;
    color: springgreen;
    width: 500px;
    margin-left: 5%;
    align-self: center;
}

/* User Form */
/* =================================== */

#userForm {
    background-color: darkslategray;
    color: springgreen;
    font-size: 25px;
    width: 500px;
    height: fit-content;
    margin-left: 5%;
}

.imgx:hover {
    cursor: pointer;
}

.formP {
    margin: 0% 13%;
    font-style: italic;
    font-weight: 800;
}

.userAdd {
    margin: 0% 30%;
}

.userSubmit {
    margin: 0% 35%;
}